# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  MAVEN_OPTS: "--settings=.github/workflows/google-mirror-settings.xml"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt-openj9'
        java-version: '11'

    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: Install the qpid-jms subtree (needed for the next step)
      run: mvn clean install -DskipTests -pl :cli-qpid-jms -am

    - name: Run a single test (remember that JUnit5 issue)
      run: mvn surefire:test -Dtest=QPIDJMS484Test -pl :cli-qpid-jms

  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt-openj9'
        java-version: '11'

    - name: docker pull
      run: docker pull quay.io/jdanek/docker-alpine-openjdk-artemis-snapshot:latest

    - name: docker run
      run: docker run --rm -v`pwd`/scripts:/mnt -p 1883:1883 -p 5672:5672 -p 61616:61616 -p 5673:5673 -p 61617:61617 --entrypoint bash quay.io/jdanek/docker-alpine-openjdk-artemis-snapshot:latest /mnt/entrypoint.sh amq7-server &

    - name: sleep
      run: sleep 10

    - name: mvn package
      run: mvn clean package -Ptests,coverage

    - name: bash ./tests.sh
      run: bash ./tests.sh
